<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    /* Email styles need to be inline */
    </style>
  </head>
  <body marginheight="0" marginwidth="0" leftmargin="0" topmargin="0" bgcolor="#ffffff">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" bgcolor="#ffffff">
      <tr>
        <td>
          <table valign="top" align="center" cellpadding="0" cellspacing="0" width="600" bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:16px;color:#000000; border:1px solid #ddd;">
            <tr>
              <td bgcolor="#22313F" align="left" width="100%" height="50px" style="border-bottom:2px solid #009A19;">
                <h2 style="color:#ffffff; font-size:22px; padding:15px; margin:0px;">RestartReality</h2>
              </td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" align="center" width="100%" height="100px" style="padding-left:15px;">
                <%= @contact_details.name %>
              </td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" align="center" width="100%" height="100px" style="padding-left:15px;">
                <%= @contact_details.email %>
              </td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" align="left" width="100%" style="padding:20px 15px;border-bottom:1px dashed #ddd;">
                <h2 style="color:#000000; margin:15px 0px; width:100%; display:block; text-align:center;">
                <%= @contact_details.subject %>
                </h2>
                <p style="color:#000000; font-size:14px; margin:20px 0px 10px; width:100%; display:block;  text-align:center;">
                  <%= @contact_details.message %>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>