/* preloader */

.icon-loading {
  background: url(image_path('loading.gif'));
  width: 32px;
  height: 32px;
}

html {
  background: url(image_path('white.jpg'));
  background-repeat: repeat;
}

.static-page-title {
	font-size: 30px;
  font-weight: 500;
}